.card-grid
  display: grid
  grid-gap: $gap
  grid-template-columns: repeat(auto-fill, minmax(320px, 420px))

.tech-grid
  display: grid
  grid-gap: $gap
  grid-template-columns: repeat(2, 1fr)

  @media screen and ( max-width: $tablet )
    grid-template-columns: 1fr
