@each $name, $pair in $colors
  $color: nth($pair, 1)
  .highlight-#{$name}
    background: linear-gradient(to top, $color 45%, transparent 45%)

    @media screen and (min-width: $tablet ) and ( max-width: $desktop )
      .highlight-white
        background: linear-gradient(to top, $primary 45%, transparent 45%)

      .highlight-primary
        background: linear-gradient(to top, $white 45%, transparent 45%)

    @media screen and ( max-width: $tablet )
      background: linear-gradient(to top, $primary 45%, transparent 45%)
